@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Default styles */
.navbar-container {
  margin-left: calc(15vw - 60px);
  margin-right: calc(15vw - 60px);
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 3rem;
  transform: scaleX(-1) scale(1.3);
}

/* When the screen width is less than 640px */
@media (max-width: 640px) {
  .navbar-container {
    margin-left: 5px; /* Adjust as needed for small screens */
    margin-right: 5px; /* Adjust as needed for small screens */
  }
}

/* Adjust font-size and spacing for smaller screens to avoid wrapping */
@media (max-width: 662px) {
  .menu-horizontal {
    margin-right: -10px; /* Reduce spacing between items */
  }
}

.track-info {
  flex-grow: 1;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}

.spotify-link {
  margin-top: 0; /* Keep the button aligned */
}
